body {
    background-color: #fedcff;
}

header {
    background-color: #7a1ddc;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 20vh;
    width: 100%;
    font-family: Arial, sans-serif;
    position: fixed;
    margin: -20px 0 0 -10px;
    padding: 0;
}

header ul {
    display: flex;
    list-style-position: inside;
    list-style-type: none;
    text-align: center;
    margin-top: -90px;
    margin-left: 30%;
    padding-right: 5%;

}

button {
    border: 1px solid black;
    background-color: #b274f6;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    font-family: 'Dancing Script', cursive;
    font-size: 5vh;
    transition: background-color 0.3s;
}

button:active {
    background-color: #7329a4;
}

header h1 {
    text-align: left;
    font-family: 'Dancing Script', cursive;
    font-size: 8vh;
    padding-top: 10px;
    padding-left: 30px;
}

.pictures {
    width: 80%;
    height: auto;
    margin: 2% 6% 2% 6%;

}

.introduction {
    background-color: #dedeff;
    font-size: 20px;
    padding: 40px;
}

.content {
    width: fit-content;
}

main {
    display: flex;
    padding-top: 16vh;
}

aside {
    width: 250px;
    background-color:  #b26af5;
}

.information {
    font-family: Arial, sans-serif;
    font-size: 20px;
    padding: 50px;
}

.header2 {
    display: flex;
}

.back {
    margin-top: 50px;
    margin-right: 20px;
    margin-left: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}